body, html {
	margin:0;
	padding:0;
	color:#000;
}

body {
	font-size: 10px;
}

.wrapper {
	width: 100em;
	background-color: grey;
	margin: 0 auto;
}

.header {
	height: 5em;
	background:#ddd;
}

.content {
	background:#9c9;
	float: right;
	width: 80em;
}

.menu {
	float: left;
	width: 20em;
	background:#c9c;
}

.footer {
	clear: both;
	background:#cc9;
}

.logo {
	height: 5em;
	width: 5em;
}
.pageTitle {
	height: 5em;
	width: 100em;
}

.pageTitlePic{
	height: 5em;
	width: 20em;
	float: left;
}
.pageTitleText{
	height: 5em;
	float: left;
	font-size: 1em;
}

.mainPic {
	background: url(../images/TheEnd.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height:20em;
	width: 80em;
}

.userSubmitted {
	margin: 1em;
}

#Cannedfood {
	float: right;
}

.threeNewsColumn {
	background: yellow;
	width: 80em;
	height: 20em;
}

.newsColumn {
	float: left;
	width: 26em;
}
