body, html {
	margin:0;
	padding:0;
	color:#000;
}

body {
	font-size: 10px;
}

.wrapper {
	width: 75em;
	background-color: grey;
	margin: 0 auto;
}

.header {
	background:#ddd;
}

.content {
	background:#9c9;
	float: right;
	width: 50em;
}

.menu {
	float: left;
	width: 25em;
	background:#c9c;
}

.footer {
	clear: both;
	background:#cc9;
}
/*
.pageTitle {
	margin-left: 13em;
}

.logo {
	vertical-align: middle;
	width:5em;
	height:5em;
}

.menu {
	background-color: yellow;
	margin: 1em 1em 1em 13em;
	float: left;
	height: 40em;
	width: 10em;
}

.menu ul {
	line-height:3em;
	list-style-type: none;
}

.content {
	margin-top: 1em;
	background-color: blue;
	float: left;
	height: 6em;
	width: 60%;
}*/